
/*body {
    background-image: url('/assets/3d-render-modern-network-communications-science-background-with-plexus-design.jpg');
    background-size: contain;
} 

.petite {display: inline-block; 
    background-color: black;}*/
.col2 {flex : 2}